# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

bin/
img/

domain.txt
user.txt
.vscode
*.txt
*.cert
output/fc55549@alunos.fc.ul.pt/
output/fc58165@alunos.fc.ul.pt/
output/fc56328@alunos.fc.ul.pt/
output/server/scerts/

# mimi's junk files
ignoreme
